- agent = request.env["HTTP_USER_AGENT"]
- if agent =~ /iPhone/i
  - width = 290
- elsif agent =~ /iPod/i
  - width = 290
- elsif agent =~ /iPad/i
  - width = 480
- elsif agent =~ /Android/i
  - width = 290
- else
  - width = 600
%div{ class:"fb-like", 'data-send' => "false", 'data-width' => width, 'data-show-faces' => "true", 'data-href' => root_url }
