.hero-unit
  %img#octopus{ src: asset_path('octopus.png'), alt: 'Octopus' }
  %h1 Octopus Validator
  = render 'welcome'

%h2
  %span.icon-hand-right
  = t('actions.validate_your_site')
= render 'validators/form_validate'
