.hero-unit
  %h1 Octopus Validator
  %p
    You can validate your great sites being developed. Validators check your mistakes and overlooked points. Take advantage of those validators and crate seamless your websites.
= render 'home/form'
