.hero-unit
  %img#octopus{ src: asset_path('octopus.png'), alt: 'Octopus' }
  %h1 Octopus Validator
  %p
    You can validate your great websites being developed.
    %br
    Validators will check your mistakes and overlooked points while developing.
    %br
    Take advantage of those validators and create seamless websites!
= render 'home/form'
