.hero-unit
  %h1 Octopus Validator
  %p
    You can validate your great websites being developed. Validators will check your mistakes and overlooked points while developing. Take advantage of those validators and create seamless websites!
= render 'home/form'
