- if session[:validator_ids]
  - validator_ids = session[:validator_ids].collect { |id| id.to_i }
- else
  - validator_ids = []
- href = params[:href]
- if href.present?
  - validators = Validator.find(validator_ids)
  - if validators.present?
    %ul#validators{ class: (session[:auto] ? :auto : nil) }
      - validators.each do |validator|
        - validator_href = validator_format_url validator.format, href
        %li{ class: (validator.iframe ? 'iframe' : nil) }
          %p
            %strong
              %span.icon-forward
              = link_to validator.name, validator_href, target: :_blank
            %span.muted
              \-
              = validator.content
  - else
    %p.invalid
      No validator selected.
- else
  %p.invalid
    Input valid URL.
